.grid {
  display: flex; 
  gap: 10px;     
  justify-content: flex-start; 
  flex-wrap: wrap;         
}

.grid img {
  width: 200px;            
  height: auto;            
  object-fit: contain;     
}